@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model Role
<div class="message">
    @ViewBag.AddRole
</div>
<form asp-action=AddRole class="">
    <div class="form-group">
        <label asp-for=RoleName class="col-form-label">Role</label>
        <input asp-for=RoleName class=""/>
    </div>
    <button type="submit" class="btn btn-success form-row"> Create Role</button>
</form>