@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserCredentials;
    <div class="row">
        Welcome to an Amazing Reading Journey<span>, </span>
        <div>@Model.UserName</div>

    </div>
